node_modules
.env
coverage
coverage.json
typechain
.npmignore
.estlintrc.js
.eslintignore
.prettierignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
yarn-error.log
nft.json

deploy.ts
index.ts
Greeter.sol
NFT.sol
structconst.sol
deploystruct.ts



#Hardhat files
cache
artifacts
